# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=8a33442e-bc50-42f9-ad56-721c263a2a44

    # Set to true to disable all reporting
    B:opt-out=false
}


